.profile {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: var(--boxShadow);
  transition: transform 250ms var(--timingFn);
}

.profile:hover,
.profile:focus {
  transform: scale(1.1);
}

.description {
  text-align: center;
  padding: 30px 0;
}

.avatar {
  margin-bottom: 15px;
  width: 100px;
  background-color: #fff6b2;
  border-radius: 50%;
  box-shadow: var(--boxShadow);
}

.name {
	font-size: 18px;
	color: #333333;
	font-weight: 700;
	margin-top: 30px;
}

.tag {
	font-size: 14px;
	color: #666666;
	text-align: center;
	margin-top: 10px;
}

.location {
	font-size: 14px;
	color: #97a2ae;
	line-height: 32px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.stats {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	background-color: #f3f6f9;
	border-radius: 0 0 5px 5px;
}

.list {
	flex-direction: column;
	align-items: center;
	border: solid 1px #d8e0ea;
	width: 85px;
}

.label {
	color: #97a2ae;
	padding-top: 22px;
	font-size: 12px;
	display: flex;
}

.quantity {
	padding-bottom: 22px;
	line-height: 1.2;
	font-weight: bold;
	font-size: 14px;
	display: flex;
}

