.statistics {
	width: 335px;
    margin: auto;
    border: solid 1px rgb(211, 221, 221);
  margin-top: 50px;
  padding-top: 25px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: var(--boxShadow);
  transition: transform 250ms var(--timingFn);
}
.statistics:hover,
.statistics:focus {
  transform: scale(1.1);
}

.title {
	font-size: 16p;
	color: #333333;
	text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.stat_list{
    height: 60px;
    display: flex;
    list-style: none;
}

.item{
    width: 70px;
    border: solid 1px teal;
}

.label{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

.percentage{
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}